#!/usr/bin/make -f

%:
	dh $@ --buildsystem=pybuild

override_dh_auto_install:
	dh_auto_install
	# Install XDG autostart
	mkdir -p debian/da4linux/etc/xdg/autostart
	cp install/da4linux-autostart.desktop debian/da4linux/etc/xdg/autostart/
