[Desktop Entry]
Type=Application
Name=DA4Linux
Comment=Apply Dolby Audio-like processing at login
Icon=audio-card
Exec=/home/mena/.local/bin/da4linux generate
Terminal=false
X-GNOME-Autostart-Phase=Initialization
X-KDE-autostart-phase=1
NoDisplay=true
Categories=Audio;
